.sprint-container {
    width: 300px;
    background: hsl(0, 0%, 98%);
    padding: 2px;
    flex-shrink: 0;
    border-right: black;
  }
  
  .sprint {
    margin-bottom: 2px;
    border-bottom: 1px solid #000000;
    background: #ffffff;
  }
  
  
  
  .epics-list {
    display: flex;
    flex-direction: column;
   padding-bottom: 0.5px;
  }
  
  .epic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-size: 13px;
  }
  
  .checkbox {
    margin-right: 2px;
  }
  
  .epic-name {
    flex: 1;
  }
  
  .new-epic {
    display: flex;
    gap: 5px;
    margin-top: 5px;
  }
  
  .create-epic {
    margin-top: 10px;
    width: 100%;
    color: rgb(0, 0, 0);
   
  }
  